@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: "Poppins";
}

#footer {
  width: 100%;
}

#footer_left {
  width: 16%;
  display:inline-table;
}

#footer_right {
  width: 84%;
  display:inline-table;
  text-align: center;
}