#map-map {
  height : 90vh !important;
}

#file_report {
  color: #337ab7;
}

.pending{
  color: #ccc;
  font-size: 1.1em;
}

.green {
  color: #34c369;
}

.red {
  color: #f03561;
}

.blue {
  color: #399ad0;
}

.tbl_preview {
  padding: 4px;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 4px;
}

#report_html {
  max-height: 900px!important;
}

#iframe_report {
  height: 90vh;
}

#footer {
  width: 100%;
}

#footer_left {
  width: 16%;
  display:inline-table;
}

#footer_right {
  width: 84%;
  display:inline-table;
  text-align: center;
}

.shiny-notification {
  position:fixed;
  top: calc(85%);
  left: calc(10%);
}